@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Sarabun', sans-serif;
}